<h2>PING=PONG!!</h2>

<h3>使い方</h3>
<dl>
  <dt>各種設定</dt>
  <dd>上部「設定」から、レベルの種類・戦型の種類・メンバー・正規ペアを登録。いつでも変更できます。</dd>
  <dt>練習開始時</dt>
  <dd>上部「参加登録」から、その日の出席者を登録。この内容は次にこのページで変更を加えるまで保持されます。</dd>
  <dt>組み合わせ生成</dt>
  <dd>上部「シングルス」から、詳細条件を設定して対戦表を生成できます。</dd>
</dl>

<h3>問い合わせ</h3>
何かあれば93期伊藤まで。機能追加にも応じます。
