<h2>出席登録</h2>
その日の練習に参加したメンバーをチェックしてください。クリック毎に参加⇔休みが切り替わります。端末のcookieに保存されます。このページで変更を加えるまで保持されます。ただし、複数端末間の共有はできません。

<ul id="attendance_table">
  <% @members.each do |member| %>
    <li class="attendance-member btn" data-member-id="<%= member.id %>"><%= member.member_name %></li>
  <% end %>
</ul>
