<h2>対戦表</h2>
出席登録人数が奇数の場合、余った人は最下部にまとめて表示されます。<br>
<p>
  動作状況2012-11-10現在：<br>
  シングルスのみ<br>
  男女区別は「区別」「ランダム」どちらでもOK<br>
  レベル区別は「区別」「ランダム」のみ。「初級vs上級」はまだ動きません。
</p>

<dl id="match-config">
  <dt>対戦形式</dt>
  <dd class="btn-group" id="match-type" data-toggle="buttons-radio">
    <button type="button" class="btn" data-match-type="singles">シングルス</button>
    <button type="button" class="btn" data-match-type="doubles">ダブルス</button>
    <button type="button" class="btn" data-match-type="group">グループ</button>
  </dd>
  <dt>男女区別</dt>
  <dd class="btn-group" id="match-gender" data-toggle="buttons-radio">
    <button type="button" class="btn" data-match-gender="separate">区別</button>
    <button type="button" class="btn" data-match-gender="random">ランダム</button>
  </dd>
  <dt>レベル区別</dt>
  <dd class="btn-group" id="match-rank" data-toggle="buttons-radio">
    <button type="button" class="btn" data-match-rank="separate">区別</button>
    <button type="button" class="btn" data-match-rank="cross">初級vs上級</button>
    <button type="button" class="btn" data-match-rank="random">ランダム</button>
  </dd>
</dl>

<%= link_to '組み合わせ抽選', '/match/generate', class: 'btn btn-primary', id: 'generate-match', remote: true %>

<div id="match-table">
</div>
