// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#attendance-table {
    list-style: none;
    margin-left: 0;

    li {
        width: 100px;
        text-align: center;
        overflow: hidden;
        margin: 5px;
        padding: 0;
    }
}
